<div class="title-area">
    <app-title caption="welcome to notepad" captionColor="magenta"></app-title>
    <app-title caption="Version 1.3.2" captionColor="brown"></app-title>
</div>

<div class="colors-area">
    <ul>
        <li *ngFor="let item of colors" 
            [class.nivchar]="item===selectedColor"
            (click)="selectColor(item)">{{item}}</li>
    </ul>
</div>

<div class="fonts-area">
    <ul>
        <li *ngFor="let item of fonts" 
            [class.nivchar]="item===selectedFont"
            (click)="selectFont(item)">{{item}}</li>
    </ul>
</div>

<div class="sizes-area">
    <ul>
        <li *ngFor="let item of sizes" 
            [class.nivchar]="item===selectedSize"
            (click)="selectSize(item)">{{item}}</li>
    </ul>

</div>

<div class="text-area">
    <textarea
        [style.color]="selectedColor"
        [style.font-family]="selectedFont"
        [style.font-size]="selectedSize"
    ></textarea>
</div>