<h1>{{question}}</h1>

<div class="answers">
  <ul>
    <li *ngFor="let answer of possibleAnswers"
        (click)="selectAnswer(answer)"
        [class.was-answered]="wasAnswered"
        [class.is-correct]="isCorrect === true"
        [class.is-wrong]="isCorrect === false"
        [class.is-selected]="selectedAnswer === answer"

    >{{answer}}</li>
  </ul>
  
</div>

<!-- <div *ngFor="let answer of possibleAnswers">
  <button [disabled]="wasAnswered" (click)="selectAnswer(answer)">{{answer}}</button>
</div>  -->

<!-- <h2 class="correct" *ngIf="isCorrect === true">Correct</h2>
<h2 class="wrong" *ngIf="isCorrect === false">Wrong</h2> -->



<!-- 
1.   {{}}         - textual content (innerText)
2. []             - attribute from view model to view
3. ()             - event from view to view model
4. *ngMashu=""    - structural directives
-->